version: '3'

services:
  business-central:
    image: localhost/kiegroup/business-central-workbench-showcase:7.74.0.Final
    ports:
      - "8080:8080"
      - "8001:8001"
  kie-server:
    image: localhost/kiegroup/kie-server-showcase:7.74.0.Final
    ports:
      - "8180:8080"
      - "8007:8001"
    environment:
      KIE_SERVER_ID: sample-server
      KIE_SERVER_LOCATION: http://IP-ADDRESS:8180/kie-server/services/rest/server
      KIE_SERVER_CONTROLLER: http://IP-ADDRESS:8080/business-central/rest/controller
      KIE_MAVEN_REPO: http://IP-ADDRESS:8080/business-central/maven2
    depends_on:
      - business-central
